h2 钨金比特币吊牌介绍
p 钨金是世界上最硬的金属之一,仅次于钻石,钨金的不变色不磨损象征着比特币的坚强。
p 钨金比特币吊牌,双面雕刻,正面是比特币的图案和文字,背面为可以定制的比特币私钥加密二维码。它是首饰也是钨金钱包,若干年后只要牌在币就在,用手机扫描出二维码再用 MultiBit 解密导入私钥。
p 相对于纸钱包,它具有装饰性、方便携带和不磨损不腐蚀抗高温,也许存上 10 个比特币传给下一代也挺好。样品做出来后做了残酷和变态的测试,以确保加密私钥的存储安全。
ul
  li
    a(target="_blank", href='http://www.56.com/u51/v_MTEyNDE2NDMy.html')硬度及耐磨测试视频
  li
    a(target="_blank", href='http://www.56.com/u75/v_MTEyNDkwNzI4.html')厨房变态测试视频
  li
    a(target="_blank", href='http://www.56.com/u44/v_MTEzMDUwMjg5.html')二维码手机扫描视频

h2 本定制工具介绍
p 如果你还没有考虑过比特币应该如何安全存储的话，说明你对比特币的了解还不够深入:P
p 比特币从某种程度来说是很“脆弱”的，因为如果别人掌握了你的私钥，该地址上的比特币或许就不再属于你。但从这个角度来说比特币又是非常坚固的，因为只要你能保证比特币的私钥是离线随机生成的话，那么理论上别人无法通过暴力穷举来获得你的私钥。这也是人类第一次从技术上实现了私有财产不被侵犯！
p 因此，保管好自己的私钥是重中之重。用 Vanitygen 生成自己想要的虚荣地址，通过 AES 或者 BIP38 加密，再将生成的密钥雕刻到这坚贞不渝的比特币钨金吊牌上，是我至今见到的最棒的比特币冷存储方式！
p 此外，即使从首饰的角度而言，这也是一块很酷的装饰品不是吗？只要加强下口才，这可以成为一个很好的发展下线的工具:P
p 因此，在我终于生成一个自己满意的虚荣地址后，我决定也去订购一块。而为了检验雕刻的效果，我写了这个小工具来预览其样式是否符合自己心意。而这，或许也能对正在看这页面的你能有帮助:)
p 由于时间仓促，这个工具还有些粗糙，尤其是生成二维码的部分，推荐在这里检验的同时也到http://cli.im/选 7% 的容错后试试能否正常扫描。如果有什么意见或者建议，也欢迎与我联系。
p 最后，如果你喜欢这个工具，欢迎打赏鼓励一下:) 1MCoddyA6qWitWEq33GUXLnK5aH1APPPAf
p(ng-bind-html='donateQRCode') {{ donateQRCode }}
