.col-xs-12.col-sm-122.col-md-12
  .col-md-6.col-md-offset-4
    #back-design.token-design
      .text-center.token-hole
        h1 〇
      #back-text-a.text-center
        p {{backTextA}}
      #back-qr-code.text-center
        p(ng-bind-html='qrCodeImg') {{ qrCodeImg }}
      #back-text-b.text-center
        p {{backTextB}}
      #back-text-c.text-center
        p {{backTextC}}


.col-xs-12.col-sm-122.col-md-12
  form(role="form")
    .form-group
      label(for="backTextA") A 区定制字符(要求长度在10~30之间的英文或数字)
      input.form-control(ng-model="backTextA", id="backTextA")

  form(role="form")
    .form-group
      label(for="qrCodeText") QR Text
      input.form-control(ng-model="qrCodeText", id="qrCodeText", ng-change="updateQRCode()")

  form(role="form")
    .form-group
      label(for="backTextB") B 区定制字符(要求长度在10~30之间的英文或数字)
      input.form-control(ng-model="backTextB", id="backTextB")

  form(role="form")
    .form-group
      label(for="backTextC") C 区定制字符(要求长度在4~8之间的英文或数字)
      input.form-control(ng-model="backTextC", id="backTextC")

.col-xs-12.col-sm-122.col-md-12
  h3 输出结果
  .well
    p A 区定制字符: {{ backTextA }}
    p QR码定制字符: {{ qrCodeText }}
    p B 区定制字符: {{ backTextB }}
    p C 区定制字符: {{ backTextC }}
